$textColor: #fff;
$textColor2: #fff;
$textColor3: #fff;
$placeholderText: #535353;
$black: #000;
$titleColor: #fff;
$subtitleColor: #fff;
$gray: #4B4B4B;
$gray2: #3D3D3D;
$grayLight: #6B7280;
$grayDark: #374151;
$pink: #CB00DD;
$lightGreen: #E9FCEE;
$modalColor: #242324;
$white: #fff;
$border: #9CA3AF;
$border2: #D1D5DB;
$border3: #C4C4C4;
$backgroundModal: #E5E5E5;
$backgroundBody: #181719;
$green: #29E300;
$buttonDark: #4D4D4D;
$buttonDark2: #565656;
